apiVersion: apps/v1
kind: Deployment
metadata:
  name: heart-mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: heart-mlops
  template:
    metadata:
      labels:
        app: heart-mlops
    spec:
      containers:
        - name: api
          image: heart-mlops:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: MODEL_PATH
              value: /app/artifacts/model/final_pipeline.joblib
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
